<h2><%= @list.name %></h2>

    <div class="hero-image">
    <img src="<%= @list.image %>">
        <div class="hero-text">
            <p><%= @list.description %></p>
            <a href="/lists/new"><button>Create</button></a>
        </div>
    </div>

<br>

<ol>
    <% @list.to_do.split(",").each do |value| %>
        <li><input type="checkbox"> <%= value %></li>
    <% end %>
</ol>

<% if @list.user_id != nil && @list.user == current_user %>
<br><br>

    <form action="/lists/<%= @list.id %>/edit">
        <input type="submit" value="Edit Bucket List">
    </form>
    <br>

    <form method="POST" action="/lists/<%= @list.id %>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Bucket List">
    </form>
<% end %>